.text_des{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.textdesc{
    width: 550px;
    overflow:hidden;
    text-overflow:ellipsis;
    letter-spacing: 2px;  /*字间距*/
    display:block;/*内联对象需加*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 强制在同一行内显示所有文本,直到文本结束或者遭遇 br 对象。不换行 */
}
.profile .section{
    margin-top: 15px;
}