*{
    margin: 0px;
    padding: 0px;
}
.media-row{
    height: 150px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    flex-direction: row;
}

.media-body-row{
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media-body-row a:link{
    color: #1C86EE;
    text-decoration: none;
}
.media-body-row a:hover{
    color: #CD5C5C;
}
.title{
    height: 20px;
}
.desc{
    height: 66px;
}
.count{
    height: 20px;
}
.text_des{
    font-size: 12px;
    font-weight: normal;
    color: #999;

}

.text-desc1{
    font-size: 12px;
    font-weight: normal;
    color: #999;
    display: block;
    padding-left: 10px;
    text-align: center;
}
.textdesc{
    font-size: 14px;
    font-weight: normal;
    font-family: "Meiryo UI", "Microsoft YaHei", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    height: 66px;
    line-height: 22px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;/*内联对象需加*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break:break-all;/* 不换行 */
}
.profile .section{
    margin-top: 15px;
}
.left-div{
    background: url(/img/line.gif) repeat-y right;
}
.right-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background: url(/img/line.gif) repeat-y left;
}
.right-div div{
    width: 160px;
    height: 220px;
    line-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.right-div div h4{
    margin: 0px 0px 10px 0px;

}

.bottom{
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.01);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(/img/line.gif) repeat-x top;
}
.bottom ul li{
    list-style-type: none;
}
