<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="bottom" id="copyright-wrap" class="container-fluid">
        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom">
            <ul>
                <li>
                    <a href="/archives/1.html">关于我们</a> | <a href="https://www.caozhongjue.top/" target="_blank">博客</a> | 版权所有：2019 | 备案号：<a href="http://beian.miit.gov.cn/" rel="nofollow">粤ICP备18115133号-2</a> | Powered by：<a href="https://www.caozhongjue.top/" rel="nofollow">超溜博客</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
