<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>czj'blog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=divice-width,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/editormd.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/editormd.js"></script>
<script src="/lib/marked.min.js"></script>
<script src="/lib/prettify.min.js"></script>
<script src="/lib/raphael.min.js"></script>
<script src="/lib/underscore.min.js"></script>
<script src="/lib/sequence-diagram.min.js"></script>
<script src="/lib/flowchart.min.js"></script>
<script src="/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">

<body >
<div style="margin: auto;padding: 0px 10px 0px 10px;">
    <div th:insert="navigation::copy"></div>
    <div class="container-fluid" style="background-color: white ">
        <div class="row" style="height: 100%;">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 " style="border-right: 1px solid #1C86EE;" >
                    <h2 style="padding-left: 10px; margin-top: 10px;text-align: center;" th:text="${questionDTO.title}"></h2>
                    <span class="text-desc1">
                        作者：<span th:text="${questionDTO.user.name}"></span>&nbsp;&nbsp;&nbsp;
                        发布时间：<span th:text="${questionDTO.gmtCreate}"></span>&nbsp;&nbsp;&nbsp;
                        阅读数：<span th:text="${questionDTO.viewCount}"></span>&nbsp;&nbsp;&nbsp;
                    </span>
                    <hr>
                    <div id="test-editormd-view">
                        <textarea id="append-test" style="display:none;" th:text="${questionDTO.description}"></textarea>

                    </div>
                    <hr style="margin-bottom: 10px;"/>
                    <a th:href="@{'/publish/'+${questionDTO.id}}" th:if="${session.user != null && session.user.id == questionDTO.creator}">
                        <div style="display: flex;flex-direction: row;">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span style="display: block;text-align: right;margin-bottom: 10px;padding:0px 10px">编辑</span>
                        </div>
                    </a>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
                <div>
                    <h4>发起人</h4>
                    <img style="width: 150px;height: 150px;" th:src="${questionDTO.user.avatarUrl}">
                </div>
                <div>
                    <h4>超溜博客小程序</h4>
                    <img style="width: 150px;height: 150px;" src="/img/littleapplication.png">
                </div>
            </div>

        </div>
    </div>
    <div th:insert="bottom :: bottom"></div>
    <script type="text/javascript">
        $(function() {
            var testEditormdView;

            testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        })
    </script>

</div>
</body>
</html>